@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

input, button, textarea, select {
  font: inherit;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  border-radius: 40px;
  padding: .3rem .7rem;
}

h1, h2, h3 {
  text-transform: capitalize;
}